# System files
.DS_Store

# Temporary database backing directories
csci485/
csci485Disk/
temp/

# configuration files
ClientConfig.txt
MasterConfig.txt

# eclipse bloat
.classpath
.project
.settings/

# eclipse compiled
bin/
